@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 12vh;margin-bottom: 100px">Visualizador de Despesas</h1>
    <br />
    <a asp-action="Expenses"class="btn btn-primary">Visão Geral</a>
    <br />
    <br />
    <a asp-action="CreateEditExpense" class="btn btn-secondary">Adicionar Despesa</a>
    <br />
    <br />
    <br />
</div>
